#mission-vision{
    padding-left: 0px;
}
.logo_cotainer{
    width: 100%;
    text-align: center;
}
@media only screen and (min-width: 1000px){
 #main_card{
     max-width: 80%;
     margin: auto;
 } 

 .logo_cotainer>img{
     width: 35% !important;
    
 } 
 .parent{
     padding-left: 35px;
 } 
}
@media only screen and (max-width: 999px){
    .logo_cotainer>img{
        width: 70% !important;
       
    }  
    .parent{
        padding-left: 5px;
    }
    .MuiTypography-h2{
        font-size: 3.35rem !important;
    }
}
.parent{
 width: 100%;
}
