.title {
  color: #2e8b57;
  text-align: center;
  font-size: 2rem !important;
  font-weight: 700;
  margin-top: 2rem;
}

.cardContainer {
  display: grid;
  margin: 3% auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
  justify-content: center;
  gap: 1.5rem;
  width: 90%;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease;
}


.image {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.themeText {
  text-align: center;
  font-weight: 500;
}
.imageTitle {
  text-align: center;
  font-weight: 600;
  color: #444;
}
