html{
  font-size: 16px;
}


.personContainer {
  display: grid;
  grid-template-columns: 1.5fr 3.5fr;
  border: 2px solid #ececed;
  border-radius: 10px;
  padding: 1rem;
  grid-column-gap: 0.5rem;
  margin: 0.5rem;
  min-height: 210px;
  max-width: 500px;
}

.heading {
  text-align: center;

  color: #fff;
  margin: 20px 0 30px;
}

.card {
  border-radius: 10px;
  position: relative;
  padding: 25px 15px;
  background-color: #2e8b57;
  margin: 50px 20px;
  width: 370px;
  height: 240px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.top {
  border-radius: 10px 10px 0 0;
  height: 100px;
  width: 100%;
  background-color:  #256f46;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.text a{
  font-size: 1.2rem;
color: #fff;
font-weight:bold;
text-decoration: none;
}
.text a:hover{
  color:white !important;
  transform: scale(1);
  text-decoration:underline;
  opacity: 0.8;
}
.text h4{
  font-size: 1.0rem;
  color:#fff;
  margin-left:6%;
  margin-top: 10px;
}
.name {
  width: 190px;
  display: flex;
  flex: 1;
  margin: 12% 0px 0px 12px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle-img {
  margin: 20px 0 0 35px ;
  border-radius: 50%;
  border: 5px solid #fff;
  width: 115px;
  height: 115px;
}

.bottom {
  margin-top: 90px;
  background: #2e8b57;
}
.description{
  margin-right:95px;
  color:#f6f5f5;
  font-size: 0.9rem;
}

.info {
  color: #fff;
  margin-left: 5px;
  text-decoration: none;
}
.info:hover{
  color:white !important;
  transform: scale(1);
  opacity: 0.8;
}
.info-div{
display: flex;
align-items: center;
color: #fff;
font-weight: bold;
font-size: 0.9rem;
margin-top: 0.5rem;
}
.info-icon{
  font-size: 1.2rem !important;
}

.info-div .info{
  margin-top: 10px;
}
.info-div .info-icon{
  margin-top: 10px;
}
@media (max-width:800px) {
  .card{
    width: 300px;
    height: 200px;
  }
  .top{
    height: 90px;
  }
  .circle-img{
    margin:30px 10px 0 0;
    height:90px;
  }
  .bottom{
    margin-top: 75px;
  }
  .description{
    font-size: 0.8rem;
    margin-right: 60px;
  }
  .info-div .info{
    margin-top: 0px;
  }
  .info-div .info-icon{
    margin-top: 0px;
  }
}
