.personContainer {
  display: grid;
  grid-template-columns: 1.5fr 3.5fr;
  border: 2px solid #ececed;
  border-radius: 10px;
  padding: 1rem;
  gap: 1rem;
  margin: 1rem auto;
  min-height: 30rem;
  max-width: 500px;
}

.heading {
  text-align: center;
  color: #fff;
  margin: 20px 0;
}

.card {
  position: relative;
  min-width: 20rem !important;
  max-width: 40rem;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #e1eeee;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow-wrap: break-word;
  white-space: normal;
  height: auto;
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #256f46;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
}

.text {
  flex-grow: 0;
  min-width: 50%;
}

.text a {
  display: block;
  max-width: 100%;
  min-width: max-content;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
  opacity: 0.85;
}

.text h4 {
  margin: 0.2rem 1.5rem;
  font-size: 1.4rem;
  color: #fff;
  overflow-wrap: break-word;
}
.supervisor {
  color: #fff;
  flex: 1;
  margin-left: 1.5rem;
}
.name {
  color: #fff;
  flex: 1;
  margin-left: 1.5rem;
}
.circleImg {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem auto;
  /*margin: 15px 15px 15px auto;*/
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  margin: 1px;
  border-radius: 50%;
}

.bottom {
  margin-top: 14rem;
  background-color: #e1eeee;
}

.researchArea,
.incharge {
  margin-top: 10px;
  margin-left: 0.2rem;
  font-size: 1.4rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.researchArea {
  color: #000000;
  font-weight: bold;
}

.incharge {
  color: #3e3e3e;
  font-weight: normal;
}

.infoDiv {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: #434343 !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.infoIcon {
  font-size: 1.2rem;
  margin-left: 0.15rem;
  margin-right: 8px;
}

.info {
  display: inline-block;
  max-width: 100%;
  color: #434343 !important;
  text-decoration: none;
  white-space: normal;
}

.info:hover {
  opacity: 0.85;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .card {
    max-width: 20rem !important;

  }
  .circleImg {
    width: 9rem;
    height: 9rem;
  }
  .bottom {
    margin-top: 10rem;
  }
  .text a,
  .researchArea,
  .incharge,
  .text h4,
  .infoDiv,
  .infoIcon,
  .supervisor {
    font-size: 0.7rem !important;
   ;
  }
  .text a{
    overflow-wrap: break-word !important
  }
}

@media (min-width:482px) and (max-width:3840px) {
  .card{
    min-width: 32rem !important;
  }
}
@media (max-width:480px) {
  .circleImg {
    max-width: 6rem;
    max-height: 6rem;
  }
  .text h4{
    word-wrap: anywhere !important;
  }

}


