.container {
  padding: 3rem 1rem !important;
  display: flex;
  justify-content: center;
  background: white; /*linear-gradient(to bottom right, #e0f7fa, #e8f5e9);  Light Blue to Green */
  min-height: 100vh;
}

.themeText {
  color: #2e8b57;
  text-align: center;
  font-size: 2rem !important;
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.4);
}

.deptDesc {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  padding-top: 1.5rem;
}
.festival {
  margin-top: 1rem;
  color: #2e8b57;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .card {
    margin-bottom: 1.5rem;
  }
}
