
@media only screen and (min-width: 800px){
  .newshead{
    font-size: 2vw;
  }
}
@media only screen and (min-width: 500px) and (max-width: 800px){
  .newshead{
    font-size: 6vw;
  }
}
@media only screen and (max-width: 500px){
  .newshead{
    font-size: 10vw;
  }
}

.newshead{
  font-family: 'Playfair Display', serif;
  font-weight: 500;

  text-transform: uppercase;
  display: inline-block;
  line-height: 52px;
  margin-bottom: 5px;
}
ul {
  list-style: None;
  list-style-position: inside;
  padding-left: 10px;
}
.News{
  list-style: url(../../images/news-icon.svg);
  list-style-position: inside;
  padding-left: 10px;
}
.Events{
  list-style: url(../../images/event_note-black-18dp.svg);
  list-style-position: inside;
  padding-left: 10px;
}
.Notices{
  list-style: url(../../images/pin.svg);
  list-style-position: inside;
  padding-left: 10px;
}
#simplecard {
  box-shadow: none !important;
}
#simplecard ul>li>a{
  font-family: 'Playfair Display', serif;
  font-style: italic;
}
.card-inner {
  padding-left: 0.2vw;
}
