.newshead{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 40px;
    margin-bottom: 10px;
}
.News{
    list-style: url(../../images/news-icon.svg);
    list-style-position: inside;
    padding-left: 10px;
}
.Events{
    list-style: url(../../images/event_note-black-18dp.svg);
    list-style-position: inside;
    padding-left: 10px;

}
.Notice{
    list-style: url(../../images/pin.svg);
    list-style-position: inside;
    padding-left: 10px;

}
#simplecard {
    box-shadow: none !important;
}
#simplecard ul>li>a{
    font-family: sans-serif;
    font-style: italic;
}
