.mission-intro {
  margin-bottom: 0.65rem;
}

.mission-list {
  padding-left: 0.9rem;
  margin: 0;
 }

.mission-list li {
  text-align: justify;
}

.mission-item {
  display: list-item;
  list-style-type: disc;
}

@media (max-width: 1500px) {
  #learn_more {
    display: none;
  }
}
