

#mission_vision{
    
    min-width: 23% !important;
}
@media only screen and (min-width: 800px) {
    #mission_vision{
        width: 23% !important;
    }
    
}
#mission_vision svg{
    font-size: 17px;
}


@media only screen and (min-width: 800px) and (max-width: 1500px){
    #vision{
        font-size: 1.1vw !important;

    }
    #mission{
        font-size: 1.15vw !important;
    }
  
}
@media only screen and (min-width: 1500px){
    #vision{
        font-size: 1.1vw !important;

    }
    #mission{
        font-size: 1.05vw !important;
    }
}
@media only screen and (max-width: 1500px){
    #learn_more{
        display: none;
    }
    }