#mission_vision {
  height: 100%;
}

#mission_vision svg {
  font-size: 17px;
}

#mission,
#vision {
  font-size: 1rem;
}

/* @media only screen and (min-width: 1000px) and (max-width: 1500px){ */
/* #vision{ */
/* font-size: 1rem !important; */
/* } */
/* #mission{ */
/* font-size: 1rem !important; */
/* } */

/* } */

@media only screen and (min-width: 920px) and (max-width: 1100px) {
  #vision,
  #mission {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 920px) {
  #vision,
  #mission {
    font-size: 0.8rem;
  }
}

/* @media only screen and (min-width: 1500px){ */
/* #vision{ */
/* font-size: 1.1vw !important; */
/* } */
/* #mission{ */
/* font-size: 1.05vw !important; */
/* } */
/* } */
@media only screen and (max-width: 1500px) {
  #learn_more {
    display: none;
  }
}
