
.v_marquee{

    min-width: 23% !important;
    max-height: 55vh !important;

}
@media only screen and (max-width: 1400px){
    .v_marquee{
        max-height: 45vh !important;
    }
}
@media only screen and (min-width: 800px) {
    .v_marquee{
        width: 23% !important;
        max-height: 50vh;
    }

}
@media only screen and (max-width: 800px) {
    .v_marquee{
        max-height: 80vh !important;
    }

}

.v_marquee>.MuiCardContent-root{
    max-height: 100%;
}
@media only screen and (min-width: 1500px) {
    .v_marquee{
        max-height: 56vh !important;
    }

}
@media only screen and (min-width: 1600px) {
    .v_marquee{
        max-height: 60vh !important;
    }

}
.bullet{
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
}

/* .v_marquee{ */

/* min-width: 23% !important; */
/* max-height: 55vh !important; */

/* } */
/* @media only screen and (max-width: 1400px){ */
/* .v_marquee{ */
/* max-height: 45vh !important; */
/* } */
/* } */
/* @media only screen and (min-width: 800px) { */
/* .v_marquee{ */
/* width: 23% !important; */
/* max-height: 50vh; */
/* } */

/* } */
/* @media only screen and (max-width: 800px) { */
/* .v_marquee{ */
/* max-height: 80vh !important; */
/* } */

/* } */

/* .v_marquee>.MuiCardContent-root{ */
/* max-height: 100%; */
/* } */
/* @media only screen and (min-width: 1500px) { */
/* .v_marquee{ */
/* max-height: 56vh !important; */
/* } */

/* } */
/* @media only screen and (min-width: 1600px) { */
/* .v_marquee{ */
/* max-height: 60vh !important; */
/* } */

/* } */
.bullet{
  display: 'inline-block';
  margin: '0 2px';
  transform: 'scale(0.8)';
}

#v_marquee {
  height: 100%;
}
