.table{
    width: 100%;
   
}
.tr{
    width: 100%;
    align-items: center;
    justify-content: center;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
.th{
    align-items: center;
    grid-area: span;
    color:#ffffff;
    padding: 15px;
    background-color: #3f51b5;
}
td{
    align-items: center;
    grid-area: span;
    padding: 5px;
}

table.table > tr.centered > td {
    text-align: center;
}
.footer{
    vertical-align: bottom;
}
