.table{
    width: 100%;
    
}
.tr{
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 5px black ;
}
.th{
    align-items: center;
    grid-area: span;
    border: 5px black ;
}

table.table > tr.centered > td {
    text-align: center;
}