.card{
    margin: 1.5rem;
}
.content{
    padding: 1rem;
}
.image{
    margin: auto;
    display: block;
    align-items: center;
    
}
.lastline{
    padding: 1rem;
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: #3f51b5;
}
