.container {
  padding: 2rem 1rem;
}

.themeText {
  color: #2e8b57;
  font-size: 2rem;
  font-weight: 600;
}

.link {
  text-decoration: none;
  display: inline-block;
  padding-top: 1rem;
  font-weight: 500;
  padding-left: 20px;
  color: #2e8b57;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  text-decoration: underline;
  color: blueviolet;
}

.hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #ccc;
}

.tableContainer {
  margin-top: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.tableHeadRow {
  background-color: #2e8b57;
  color: white;
}

.tableHeadCell {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #1f5a3a;
  padding: 12px 16px;
  text-align: left;
}
.firstColumn {
  border-right: 1px solid #ccc;
}
.tableBodyCell {
  padding: 12px 16px;
  vertical-align: middle;
  text-align: left;
}


@media (max-width: 768px) {
  .themeText {
    font-size: 1.5rem !important;
  }

  .container {
    padding: 1.5rem 0.75rem;
  }

  .link {
    padding-left: 10px;
    font-size: 0.95rem;
  }

  .margin1 {
    margin: 1rem 0 0.5rem 0;
  }

  .bulletList {
    padding-left: 1rem;
  }

  .bulletList li {
    font-size: 0.95rem;
  }
}

