@media only screen and (min-width: 800px){
#mobile_navigation{
display:none !important;
}
#mobile_navbar{
    display: none !important;
}
}



@media only screen and (max-width: 800px){

#desktop_menu{
display: none !important;
}
}

#desktop_menu{
    display: flex;
}
.navbar{
    text-align: center;
}
.navlink_button{
    color:#fff !important;
}
.navlink_button:hover{
    background:rgb(255,255,255,0.25) !important;
}
.iiitt_logo{
    max-width: 100%;
}