.container {
  padding-top: 1rem;
}
.custom-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.carousel {
  grid-column: 1/3;
  max-height: 500px;
  margin: auto 0;
}

.announcements {
  grid-column: 3/4;
  height: 500px;
}

.about {
  grid-column: 1/2;
}

.objectives {
  grid-column: 2/3;
}

.institues {
  grid-column: 3/4;
}

.cardTitle {
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .custom-grid {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
  }
  .carousel,.announcements,.about, .objectives,.institute {
    grid-column: initial;
  }
}
