.slider {
  z-index: -1;
}

@media only screen and (max-width: 800px) {
  .carousel:hover .slide .legend {
    opacity: 0.4;
    
  }
}

.carousel:hover .slide .legend{
  background: rgb(0,0,0,0.3) ;
}
