.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    width: 100%;
    justify-content: center;
  }
  
  .gridItem {
    display: flex;
    justify-content: center;
  }
  