html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
.footer {
  color: #fff;
  background-color: #2e8b57;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-top: 5px solid #256f46;
}

.credits {
  background-color: #256f46;
  color: #fff;
  padding: 5px 0;
  margin: 0;
  font-weight: bolder;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-top: 2px solid #050e09;
}

.main-div {
  display: flex;

  align-items: flex-start;
  padding: 2% 0 1%;
  margin: 0rem 0;
  justify-content: center;
}
.contact-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  width: 100%;
}
.contacts img {
  margin: 0 auto;
  width: 80%;
}
.contacts h2 {
  text-align: center;
  color: #fff;
}
.contacts h3 {
  color: #fff;
  text-align: center;
  opacity: 0.7;
  margin: 0.3vh 0;
}
.contacts a {
  margin: 0.3vh 0;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.contacts a:hover {
  transform: scale(1.2);
}
.phoneicon,
.mailicon {
  margin: 2px;
}
.logo {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}
.twitter,
.facebook,
.linkedin {
  color: #fff;
  margin: 8px;
  transform: scale(1.3);
}
.icon-bg:hover .twitter {
  color: #00acee;
}
.icon-bg:hover .facebook {
  color: #3b5998;
}
.icon-bg:hover .linkedin {
  color: #0e76a8;
}
.icon-bg {
  background-color: #2e8b57;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  cursor: pointer;
}
.icon-bg:hover {
  border-color: #fff;
  background-color: #fff;
}
.acedemics {
  font-size: 1em;
  width: 9%;
}
.quick-explore a,
.acedemics a {
  margin: 8% 0%;
  color: #fff;
  opacity: 0.7;
  transition: 1s;
  text-decoration: none;
  font-size: 1.1rem;
}
.quick-explore a:hover,
.acedemics a:hover {
  margin-left: 1.1rem;
  opacity: 0.8;
  color: white;
}
.quick-explore {
  color: #fff;
  font-size: 1em;
  width: 14%;
}

.acedemics hr,
.quick-explore hr {
  margin: 8% 0;
  opacity: 0.8;
  border-top: 2px;
  border-color: #17462c;
}

#favorite {
  font-size: 20px;
  line-height: 27.25px;
  transition: 1s;
}
.credits:hover #favorite {
  color: red;
  transform: scale(1.4);
  margin: 0 10px;
}
.credits:hover {
  color: white;
}

a {
  display: block;
}
.mobile {
  display: none;
}

.line {
  border-left: 7px;
  width: 1.5%;
  height: 4vh;
  border-style: none;
  border-left-style: dotted;
  border-color: #17462c;
  opacity: 1;
  margin: 7% 4%;
}
@media (max-width: 800px) {
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-div {
    margin-bottom: 2rem;
  }
  .mobile {
    display: inherit;
  }

  .contacts p,
  .contacts h2,
  .contacts h3 {
    margin: 2px;
  }
  .acedemics hr,
  .quick-explore hr {
    opacity: 0.2;
  }
  .acedemics,
  .quick-explore {
    font-size: 1.4rem;
  }
  .quick-explore a,
  .acedemics a {
    font-size: 1.2rem;
    margin: 4% 0;
  }
  .heart {
    margin-right: 10%;
  }
  .footer {
    text-align: center;
  }
  .contact-main {
    margin-top: 5vh;
    width: 90%;
    text-align: center;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts h2,
  .contacts h3 {
    width: 100%;
    font-size: 1.2em;
  }
  .logo {
    width: 5.5rem;
    height: 5.5rem;
  }
  .logo img {
    width: 80%;
  }
  .icon {
    margin: 0 auto;
  }
  .twitter,
  .facebook,
  .linkedin {
    margin: 5px 7px;
  }
  .acedemics {
    width: 80%;
  }
  .quick-explore {
    width: 80%;
  }

  .line {
    display: none;
  }
}

/* ---------------------------------------count down styling---------------------------------------- */

.count-down-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 35vh;
  width: 20%;
}
.count-down-main p {
  opacity: 0.8;
}
.Countdown {
  display: flex;
  transform: scale(1.2);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.time h2 {
  margin: 0 0 5px;
}
.year {
  font-size: 100px;
  opacity: 0.5;
}

.temperature {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.temperature img {
  width: 30%;
}
.temperature p {
  margin: 2px;
}

.nature {
  border: 3px dotted #17462c;
  width: 85%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0.5em 0.5em 0;
}
.nature span {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 0.5em;
  opacity: 1;
  color: #fff;
  margin: 15px 0;
}
.mobile {
  border-top: 7px;
  width: 1.5rem;
  border-style: none;
  border-top-style: dotted;
  border-color: #17462c;
  opacity: 1;
  margin: 6% 0;
}
.main-hr {
  width: 70%;
  height: 0.2rem;
  border-radius: 10px;
  background-color: #17462c;
}
.quick-ex {
  width: 55%;
}
.trichy {
  width: 35%;
  margin: 0 0 0.5rem 0;
}
/* --------------------------------------heart animation---------------------------------------------- */

.heart {
  margin: 0 1rem;
  color: #f00;
  animation: heart 1s linear infinite;
}

@keyframes heart {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(2);
  }
  30% {
    transform: scale(2.4);
  }
  50% {
    transform: scale(2.2);
  }
  70% {
    transform: scale(2.4);
  }
  90% {
    transform: scale(2);
  }
  100% {
    transform: scale(2);
  }
}

@media (max-width: 800px) {
  .temp {
    text-align: left;
  }
  .last {
    display: none;
  }
  .quick-ex {
    width: 40%;
    margin: 0 auto;
  }
  .ace {
    width: 35%;
    margin: 0 auto;
  }
  .trichy {
    margin-bottom: 20px;
  }
  .count-down-main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .count-down-main h2 {
    font-size: 1.7rem;
  }
  .count-down-main p {
    margin: 1px;
  }
}
