*{
  box-sizing: border-box;
}
.footer {
    color:white;
    background-color:#3f51b5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
.credits{
  background-color: white;
  color:#3f51b5;
    text-align: center;
    padding: 5px 0;
    margin: 0px;
}
.credits:hover{
  background-color: #3f51b5;
  color:white;
}
.main-div{
  display: flex;
  align-items: center;
 padding: 2% 0;
 justify-content: center;
}

.contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  width: 100%;
}
.contacts img{
  margin: 0 auto;
  width: 80%;
}
.contacts h3{
  opacity: 0.7;
  margin: 0.3vh 0;
}
.contacts a{
  margin:0.3vh 0;
  color: white;
  text-decoration: none;
}
.logo{
  width: 26%;
  height: 13vh;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
}

.icon{
margin: 0 35%;
display: flex;
width:35%;
}
.acedemics{
  font-size: 1.0em;
}
 .quick-explore a, .acedemics a{
  margin:8% 0%;
  color:#fff;
  opacity: 0.7;
  transition: 1s;
  text-decoration: none;
}
 .quick-explore a:hover, .acedemics a:hover{
   opacity: 1;
   margin-left: 8px;
 }
.quick-explore{
    font-size: 1.0em;
    width:13%;
}
hr{
  margin: 4% 0;
}

#favorite{
    font-size: 20px;
    line-height: 27.25px;
}

a{
  display: block;
}
.line{
  border-left: 5px;
  width: 1.5%;
  height:15vh;
  border-style: none;
  border-left-style: dotted;
  border-color: #e8e4e1;
  opacity: 1;
  margin: 0  8%;
}
.icon-bg{
  background-color: #fff;
  color:#3f51b5;
  width: 100%;
  height: 4.5vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 1vh 1vh;
  transition: 1s;
}
.icon-bg:hover{
  background-color: #3f51b5;
  color:#fff;
  transform: scale(1.4);
}
.twitter,.facebook, .linkedin{
  margin: 0 auto;
  font-size: 1.4em;
}
@media(max-width:800px) {
.main-div{
  display: flex;
  flex-direction: column;
}
.acedemics, .quick-explore{
display: none;
}
 .line{
   display: none;
 }
}
